$font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
$background-image-arrow: url('../assets/arrow.svg');
$font-family-roboto: 'Roboto', sans-serif;
$font-weight: 500;
$font-size-text: 12px;
$line-height-text: 24px;